@page
@model HolaWeb.App.Frontend.Pages.DetailModel
@{
}
@* <h1>Detalle del saludo # @Model.Saludo.Id</h1>

<p>Id: @Model.Saludo.Id</p>
<p>Saludos en españo: @Model.Saludo.EnEspañol</p>
<p>Saludos en ingles: @Model.Saludo.EnIngles</p>
<p>Saludos en italiano: @Model.Saludo.EnItaliano</p> *@
